.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  width: 400px;
  border-radius: 12px;
  padding: 20px;
}

.modal-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-tabs button {
  padding: 8px 15px;
  cursor: pointer;
}

.modal-tabs span {
  cursor: pointer;
  font-size: 18px;
}